html{
    font-family: "Comic Sans MS", cursive, sans-serif
}

.margin-top{
    margin-top:10%
}

.margin-left{
    margin-left: 40%
}

.invisible{
    visibility: hidden;
}

.displayed{
    visibility: visible;
}